/*SITE MANAGER */
.main_menu {
	float: left;
	width: 10%;
	background-color: red;
	height: 95vh;
}

h1 {
	width: 100%;
	height: 10vh;
	text-align: right;
}

.menu {
	width: 100%;
	height: 5vh;
	margin: 1vh 0;
	display: block;
}

.atWed {
	margin: 0;
	margin-left: 5%;
	width: 95%;
}

.atWed:last-child {
	background-color: red;
	opacity: .2;
}